/* reseta html */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Arial", sans-serif;
}

body {
display: grid;
grid-template-rows: auto 1fr auto;
grid-template-columns: 1fr;
grid-template-areas: 
"header"
"main"
"footer";
min-height: 100vh;
background: linear-gradient(to right, #a8edea, #fed6e3);
color: #111;
line-height: 1.6;
}

header {
  grid-area: header;
  background: #fff;
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #fff; /* importante para cobrir o fundo */
}
/* nav index */
nav {
  left: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
}
/*logo */
nav .logo {
display: flex;
align-items: center;
gap: 1em;
padding: 1em;
font-size: 22px;
font-weight:bolder;
color: #333;
}
/*logo imageem */
nav .logo img {
height: 60px;
width: auto;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

nav ul li a {
  padding-right: 1em ;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #0077ff;
}

main {
    grid-area: main;
}

.Inicio {
  display: flex;
  justify-content: center; /*centraliza eixo X */
  align-items: center; /* centraliza eixo Y */
  gap: 1em;
  padding: 20px 10%;

  /*flex-direction: column;
  align-items: center;*/

}

/* formato de imagem inicio */
.Inicio img{
  width: 28em;   /* largura fixa */
  height: auto; /* mesma altura */
  object-fit: cover; /* corta proporcionalmente */
  margin-left: 12em;
  border-radius: 15%;
 
}

.Inicio img{
   box-shadow: 
  0 5px 15px rgba(0,0,0,0.2),   /* sombra principal */
  0 10px 30px rgba(0,0,0,0.15); /* sombra mais difusa */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.Inicio img:hover{
   transform: translateY(-10px) scale(1.05); /* levanta um pouco */
  box-shadow: 
    0 15px 25px rgba(0,0,0,0.3),
    0 25px 50px rgba(0,0,0,0.2);
}

.Inicio h1 {
  font-size: 2em;
  text-align: left; /*alinha pra esquerda */
}

.Inicio p {
  margin-bottom: 1em;
  text-align: end;
  font-size: small;
  color: #444;
}

/* embaixo-index */
.InicioEmbaixo {
  display: flex;
  justify-content: center; /* centraliza */
  align-items: center;
  gap: 8em;
  padding: 12%; /* centraliza eixo Y */
}

/*formato de imagem embaixo */
.InicioEmbaixo img {
  width: 35em;   /* largura fixa */
  height: auto; /* mesma altura */
  object-fit: cover; /* corta proporcionalmente */
  border-radius: 10em; /* deixa redonda */
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.InicioEmbaixo img{
  box-shadow: 
  0 5px 15px rgba(0,0,0,0.2),   /* sombra principal */
  0 10px 30px rgba(0,0,0,0.15); /* sombra mais difusa */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.InicioEmbaixo img:hover{
  transform: translateY(-10px) scale(1.05); /* levanta um pouco */
  box-shadow: 
    0 15px 25px rgba(0,0,0,0.3),
    0 25px 50px rgba(0,0,0,0.2);
}

.InicioEmbaixo h1 {
  text-align: left;
  margin-bottom: 1.5em ; 
  font-size: 3em; 
}

/* posicao lista */
.listaBeneficio {
list-style: disc;
padding-left: 1.5em;
padding-bottom: 8.6em;
}

.listaBeneficio li {
  font-size: 1.2em;
  margin-bottom: 0.5em;
  color: #333;
}  
/*rodapé*/
footer {
    background: linear-gradient(to right, #a8edea, #fed6e3);
    grid-area: footer;
}
/* rodapé */
footer img {
  width: 24px;
  vertical-align: middle;
  margin-right: 5px;
}
.redes-sociais a {
  margin-right: 15px;
  color: #333;
  text-decoration: none;
}

.redes-sociais {
  
  text-align: center;
}

.redes-sociais a {
  font-style: oblique;
  font-size: 1em;
}

.programador {
  font-style: italic;
  text-align: end;
  padding-right: 1em;
}
